* {
	font-family: "Microsoft YaHei UI", Arial, sans-serif;
	color: #f0f8ff;
}

body {
	margin: 0;
	padding: 0;
	background-color: #2F3F4F;
}

a {
	text-decoration: none;
}

.brand {
	height: 6em;
	width: 100%;
	background-color: #1E2E3E;
}

.brand a {
	height: 6em;
	line-height: 6em;
	margin-left: 2.8em;
}

.brand img {
	width: 2.8em;
	vertical-align: middle;
}

.blog {
	width: 3.5em;

	position: relative;
	left: 50%;
	margin-left: -1.75em;
	margin-top: 16em;
}

.blog i {
	font-size: 4em;
}

.footer {
	height: 10em;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #1E2E3E;
}

.footer-content {
	margin-left: 10em;
}

.footer-content i {
	font-size: 2em;
}
