* {
	font-family: "Microsoft YaHei UI", Arial, sans-serif;
	color: #f0f8ff;
}

body {
	background-color: #2F3F4F;
}

.brand {
	position: absolute;
	top: 16px;
	left: 16px;
	height: 64px;
}

.brand img {
	width: 64px;
	vertical-align: middle;
}

.brand span {
	font-size: 24px;
}

.blog {
	font-size: 24px;
	width: 160px;
	position: absolute;
	top: 12em;
	left: 50%;
	margin-left: -80px;

}

.blog a {
	text-decoration: none;
}

.blog i {
	font-size: 32px;
}
