* {
	font-family: "Microsoft YaHei UI", Arial, sans-serif;
	color: #f0f8ff;
}

body {
	margin: 0;
	padding: 0;
	background-color: #2F3F4F;
}

a {
	text-decoration: none;
}

.brand {
	position: absolute;
	top: 16px;
	left: 16px;
	height: 72px;
	width: 300px;
}

.brand img {
	width: 72px;
	vertical-align: middle;
}

.blog {
	width: 56px;

	position: relative;
	left: 50%;
	margin-left: -28px;
	margin-top: 16em;
}

.blog i {
	font-size: 64px;
}

.footer {
	height: 10em;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #1E2E3E;
}

.footer-content {
	margin-left: 10em;
}

.footer-content i {
	font-size: 32px;
}
